<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Rat bean -->
    <bean id="rt" class="com.dp.Rat" />

    <!-- Define the Elephant bean (not used in this example, but available)
    <bean id="elephant" class="com.dp.Elephant" /> -->
    
</beans>
